version: "3.9"

services:
  redis:
    image: redis:8.4-alpine

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - apps/api/.env
    depends_on:
      - redis 

  worker:
    build:
      context: .
      dockerfile: apps/worker/Dockerfile
    environment:
      - API_URL=http://api:3000  
    volumes:
      - ./upload:/upload
      - ./output:/output
    depends_on:
      - redis
      - api